html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

li {
  padding: 0 .5rem;
  font-size: 1.125rem;
}

a {
  color: #3783a3;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: bolder;
}

header h2 {
  font-size: 1.125rem;
  text-align: center;
  margin: 0;
  font-weight: bolder;
}

div {
  margin: 1rem;
  padding-bottom: .75rem;
}

blockquote {
  border-top: #e2e2e2 .2rem solid;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem;
  padding-bottom: 1.75rem;
  border-bottom: #e2e2e2 .2rem solid;
}

blockquote i {
  font-size: 2rem;
  font-weight: normal;
}

blockquote p {
  font-size: 1rem;
  margin-bottom: 0;
}

main ul {
  display: grid;
  padding: 0;
}

main p {
  font-size: 1rem;
  margin-bottom: 2.1rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bolder;
  margin-top: 1.5rem;
}

main {
  padding-top: .25rem;
  margin: 1rem;
}

main li {
  padding: 0;
  padding-top: .5rem;
  margin-bottom: 1.2rem;
}

main a {
  text-decoration: none;
  padding: .5em 1em .6em;
  border: #3783a3 .2rem solid;
  border-radius: .3rem;
  font-size: 1rem;
}

article footer p {
  border-top: #e2e2e2 .2rem solid;
  font-size: .85rem;
  text-align: center;
  padding: 1.125rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 38em) {

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  hgroup {
    align-items: flex-start;
    margin-left: 1.5rem;
  }

  section ul {
    margin-right: .5rem;
    margin-top: .75rem;
  }

  hgroup h1 {
    text-align: left;
  }

  blockquote {
    margin: 0 4rem;
    padding-bottom: 2rem;
  }

  div {
    margin-bottom: .75rem;
  }

  main ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  a {
    display: block;
  }

}

@media only screen and (min-width: 62em) {

  blockquote {
    margin: 0 16rem;
  }

  main li p {
    margin-bottom: 1rem;
  }

  main {
    margin-bottom: .75rem;
  }

}
