html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

li {
  padding: 0 .75rem;
  font-size: 1.125rem;
}

a {
  color: #3783a3;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: bolder;
}

header h2 {
  font-size: 1.125rem;
  text-align: center;
  margin: 0;
  font-weight: bolder;
}

div {
  margin: 1rem;
  border-bottom: #e2e2e2 .2rem solid;
  padding-bottom: 1.5rem;
}

blockquote {
  text-align: center;
  margin: 0 2rem;
  padding-bottom: 1.3rem;
}

blockquote i {
  font-size: 2rem;
  font-weight: normal;
}

blockquote p {
  font-size: 1rem;
  margin-bottom: 0;
}

main ul {
  display: grid;
  padding: 0 1rem;
}

main p {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bolder;
  margin-top: 1.5rem;
}

main li:first-child {
  border-top: #e2e2e2 .2rem solid;
  padding-top: 1.5rem;
}

main li {
  padding: 0;
  margin: 1rem 0;
}

main a {
  text-decoration: none;
  padding: .5em 1em .6em;
  border: #3783a3 .2rem solid;
  border-radius: .3rem;
  font-size: 1rem;
}

footer p {
  font-size: 1rem;
  align-items: center;
}
