html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

li {
  padding: .25rem 1rem;
  font-size: 1.5rem;
}

main a {
  text-decoration: none;
  padding: .5em 1em .6em;
  border: #3783a3 .2rem solid;
  border-radius: .3rem;
}

a {
  color: #3783a3;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

header h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: .25rem;
}

div {
  margin: 1.125rem;
  border-bottom: #e2e2e2 .2rem solid;
  padding-bottom: 2rem;
}

blockquote {
  text-align: center;
}

blockquote h2 {
  font-size: 2.75rem;
  font-weight: normal;
  margin: 1.5rem 0;
}

blockquote p {
  font-size: 1.5rem;
}
